$themePaleColor: #90CAF9;
$themeLightColor: #2196F3;
$themeColor: #1976D2;
$themeDarkColor: #0D47A1;

$accentColor: #9C27B0;

$dividerColor: rgba(0,0,0,0.14);

$shadow: 0 2px 5px rgba(0,0,0,0.26);

$textColor: #333;

$completedLightColor: #4CAF50;
$completedColor: #43A047;
$completedDarkColor: #388E3C;

$failLightColor: #F44336;
$failColor: #D32F2F;
$failDarkColor: #B71C1C;

// For the HTML span tutorial:
.red {
    color: $failLightColor;
}