.message {
    @extend .material;
    position: fixed;
    background: #fff;
    width: 500px;
    height: 600px;
    top: calc(50% - 300px);
    left: calc(50% - 250px);
    margin: 0;
    z-index: 10;
    .greenButton {
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
    }
    p {
        padding-top: 20px;
    }
}

.messageHeader {
    width: calc(100% - 64px);
    height: 63px;
    border-bottom: 1px solid $dividerColor;
    border-right: 1px solid $dividerColor;
    p {
        line-height: 63px;
        color: $completedColor;
        font-size: 24px;
        margin: 0;
    }
    p:first-child {
        padding-top: 0;
    }
}

.messageClose {
    position: absolute;
    cursor: pointer;
    top: 0;
    right: 0;
    width: 63px;
    height: 63px;
    border-bottom: 1px solid $dividerColor;
    span {
        display: inline-block;
        width: 100%;
        text-align: center;
        line-height: 63px;
        font-size: 24px;
    }
}

.blacken {
    position: fixed;
    height: 100%;
    width: 100%;
    background: rgba(0,0,0,0.26);
    z-index: 9;
}

.notify {
    position: relative;
    @extend .material;
    background: $themeLightColor;
    color: #fff;
    height: 64px;
    p:first-child {
        padding-top: 0;
    }
    p {
        line-height: 64px;
        font-size: 24px;
        margin: 0;
        width: 75% ;
    }
    .button {
        position: absolute;
        height: 100%;
        width: calc(25% - 1px);
        top: 0;
        right: 0;
        border-left: 1px solid $themeColor;
        box-shadow: none;
        background: $themeLightColor;
        text-align: center;
        line-height: 64px;
        font-size: 24px;
    }
}

.successNotify {
    @extend .notify;
    background: $completedColor;
    .button {
        border-color: $completedDarkColor;
        background: $completedColor;
    }

    .button:hover {
        background: $completedLightColor;
    }

    .button:active {
        background: $completedDarkColor;
    }
}

.failureNotify {
    @extend .notify;
    background: $failColor;
    .button {
        border-color: $failDarkColor;
        background: $failColor;
    }

    .button:hover {
        background: $failLightColor;
    }

    .button:active {
        background: $failDarkColor;
    }
}